{% extends 'base_main.html' %}

{% load static %}


{% block title %}
    {{ block.super }}
    首页
{% endblock %}



{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/main/home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'axf/main/home/css/swiper.css' %}">
{% endblock %}




{% block content %}
    {{ block.super }}

<div id="home">
    <div id="topSwiper" class="swiper-container">
        <div class="swiper-wrapper">
            {% for wheel in wheels %}
             <a href="" class="swiper-slide">
                <img src="/static{{ wheel.img }}" alt="">
            </a>
            {% endfor %}
        </div>
    <div class="swiper-pagination"></div>
</div>

    <div class="topMenu">
        <nav>
            <ul>
                {% for nav in navs %}
            <li>
                <img src="/static{{ nav.img }}" alt="">
                <span>{{ nav.name }}</span>
            </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

    <div id="swiperMenu" class="swiper-container">
        <ul class="swiper-wrapper">
            {% for pig in pigs %}
                <li class="swiper-slide">
                    <img src="/static{{ pig.img }}" alt="">
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="mainInfo">
        {% for mainshow in mainshows %}
        <section>
            <h3 style="font-size: 0.5rem">
                {{ mainshow.name }}
                <a href="">更多+</a>
                <span></span>
            </h3>
            
            <div>
                <a href="">
                    <img src="/static{{ mainshow.img }}" alt="">
                </a>
            </div>

            <ul>
                <li>
                    <a href="">
                        <img src="/static{{ mainshow.img1 }}" alt="">
                        <span class="description">{{ mainshow.longname1 }}</span>
                        <b>￥1</b>
                        <s>{{ mainshow.marketprice1 }}</s>
                    </a>
                    <button>
                        <span>
                            +
                        </span>
                    </button>
                </li>

                <li>
                    <a href="">
                        <img src="/static{{ mainshow.img2 }}" alt="">
                        <span class="description">{{ mainshow.longname2 }}</span>
                        <b>￥6</b>
                        <s>{{ mainshow.marketprice2 }}</s>
                    </a>
                    <button>
                        <span>
                            +
                        </span>
                    </button>
                </li>

                <li>
                    <a href="">
                        <img src="/static{{ mainshow.img3 }}" alt="">
                        <span class="description">{{ mainshow.longname3 }}</span>
                        <b>￥6</b>
                        <s>{{ mainshow.marketprice3 }}</s>
                    </a>
                    <button>
                        <span>
                            +
                        </span>
                    </button>
                </li>
            </ul>
        </section>
        {% endfor %}
    </div>


{% endblock %}



{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/main/home/js/swiper.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'axf/main/home/js/home.js' %}"></script>
{% endblock %}










