{% extends 'order.html' %}

{% load static %}

{% block ext_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/order/order_detail.css' %}">
{% endblock %}

{% block title %}
    {{ block.super }}
    订单详情
{% endblock %}

{% block content %}
    {{ block.super }}

    <h4 style='font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace'>订单编号:{{ order.id }}</h4>

{% for orderGoods in order.axfordergoods_set.all %}



    <div class="menuList">
        <a href="">
            <img src="/static{{ orderGoods.og_goods.productimg }}" alt="">
            <p>{{ orderGoods.og_goods.productlongname }}</p>
            <p>{{ orderGoods.og_goods.productprice }}</p>
        </a>

        <section>
            <span>{{ orderGoods.og_goods_num }}</span>
        </section>
    </div>

{% endfor %}

    <div class="total_price">1</div>
    <span>总计：</span>
    <span id="total_price" >{{ price }}</span>

    <button class="btn btn-success btn-block" id="alipay">支付</button>

{% endblock %}