{% extends 'base_user.html' %}

{% load static %}

{% block title %}
    {{ block.super }}
        登陆
{% endblock %}

{% block header %}
{{ block.super }}
{% endblock %}

{% block footer %}
    {{ block.super }}
    <div class="container">
          <form action="{% url 'axfuser:login' %}" method="post" onsubmit="return parse();">
          <span style="color: red">{{ msg }}</span>
          {% csrf_token %}

          <div class="form-group">
            <label for="exampleInputName">用户名</label>
            <input name="name" type="text" class="form-control" id="exampleInputName" placeholder="请输入3-6位字母">
          <span id="nameinfo"></span>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="输入你的密码">
          </div>

          <img src="/axfuser/get_code/" alt="" id="changeimg" onclick="a();">
          <input type="text" name="imgcode">

          <button type="submit" class="btn btn-success btn-block">登陆</button>
          </form>
    </div>

{% endblock %}


{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/user/js/login.js' %}"></script>
{% endblock %}
